path.link {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
}
circle {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 1.5px;
}
text {
    fill: #000;
    font: 10px sans-serif;
    pointer-events: none;
}
path.marker_only {
    fill: none;
    stroke-opacity: .5;
    stroke-width: 1.5px;
}
.node-active {
    stroke: #555;
    stroke-width: 1.5px;
}
.instructionsView {
    background-color: rgba(92, 166, 196, 1);
    height: 100px;
    font-size: 18px;
}
.optionsParagraph {
    background-color: rgba(92, 166, 196, 1);
    height: 60px;
    text-align: center;
    vertical-align: middle;
}
.optionsBox {
    width: 200px;
    text-align: center;
    margin-left: 30px;
}
.spacing {
    height: 0;
}
.mainTitle {
    font-weight: bold;
    font-size: 22px;
    color: black;
    padding: 20px 0 0 20px;
}
.description {
    background-color: rgba(92, 166, 196, 1);
    padding: 20px;
}

.selectionButton {
     margin-left: 50px; 
     height: 30px;
     color: black;
}

.mouseIn {
  background-color:   rgba(229, 96, 96, 1);
  width: 200px;
  -webkit-transition: width 0.5s ease; 
  -moz-transition:    width 0.5s ease;  
  -o-transition:      width 0.5s ease;  
  -ms-transition:     width 0.5s ease;
  border:none;
  box-shadow:none;
}

.mouseOut {
  background-color: clear;
  width: 150px;
  -webkit-transition: width 0.5s ease; 
  -moz-transition:    width 0.5s ease;  
  -o-transition:      width 0.5s ease;  
  -ms-transition:     width 0.5s ease;
}